@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
}

#topBanner {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    padding-bottom: 2%;
}

#topBanner a {
    text-decoration: underline;
}

#pInput{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.86);
    border-radius: 10px;

    display: block;
    margin-bottom: 2rem;
    width: 10%;

    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}


.inputContainer{
    width: 100vw;
    position: relative;
  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#submitButton{
    display: block;
    width: 10em;
    height: 20%;
    border-radius: 15px;

    height: 2rem;

    text-align: center;
    margin: auto;
    font-size: large;
    
    border: 5px 5px 5px 5px;
    border-style: dotted;
}

#submitButton:hover{
    background-color: grey;
    transition: 0.15s;
}

#submitButton:active{
    background-color: rgba(31, 190, 230, 0.705);
    transition: 0.1s;
}

#pInput:focus { 
    outline: none !important;
    border-color: #9600ff,;
    box-shadow: 0 0 20px #9600ff;
}


.verifySection {
  padding-top: 2rem;
  text-align: center;
}

.vButtonAccept{
  margin-top: 5%;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 50px;



  margin-right: 3%;
  padding: 5px 5px;
}

.vButtonReject{
  margin-top: 5%;
  font-size: xx-large;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 50px;



  margin-left: 3%;
  padding: 5px 5px;
}

.vButtonAccept:hover{
  border: 1px solid white;
  background-color: rgba(0,255,0, .6);

}
.vButtonReject:hover{
  border: 1px solid white;
  background-color: rgba(255,0,0, 0.3);
  transition: top ease 0.5s;
}

/*prevents arrows on input*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    90deg,
    #ff00c1,
    #9600ff,
    #4900ff,
    #00b8ff,
    #00fff9,
    #00b8ff,
    #4900ff,
    #9600ff,
    #ff00c1
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}